<style>
html,body,h1,h2,h3,h4,h5 {
	font-family: "Raleway", sans-serif;
}
table, tr, td {
	text-align: center;
	font-weight: normal;
}
.simple-form {
	width: 60%;
	padding: 6px 10px;
	margin: 4px 0;
	box-sizing: border-box;
	border: 3px solid #ccc;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}
input[type=text]:focus {
	border: 3px solid #555;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.NOT_USING {
	text-decoration: line-through;
	color: orange;
}
.OK {
	font-weight: bold;
	color: #4169E1;
}
.NEW {
	font-weight: bold;
	color: #4169E1;
}
.BROKEN {
	text-decoration: line-through;
	color: red;
}
.DISCARD {
	text-decoration: line-through;
	color: grey;
}
</style>